body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 40%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.8vw;
}

#background {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  perspective: 800px;
  -webkit-perspective: 800px; /* Added -webkit prefix */
  background-image: linear-gradient(
    to bottom,
    #0f0209,
    #23061d,
    #200533,
    #3e028b,
    #4105aa,
    #5205b8,
    #6403c5,
    #7700d2,
    #9b00c9
  );
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background-scroller {
  background-size: 150px 150px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  height: 100vh;
  transform: rotateX(20deg);
  transform-origin: top center;
  animation: 30s linear infinite crawlingWall;
  background-position-y: top;
  z-index: -1;
}

@keyframes crawlingWall {
  to {
    background-position-y: bottom;
  }
}

.contentnaier {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 90%;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "SYNTH"
    "DTT";
  pointer-events: auto;
  z-index: 1;
}

.container {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 90%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    "SYNTH  NEON "
    "DTT  . "
    "INF  . ";
  pointer-events: auto;
  z-index: 1;
  height: inherit;
}

.box {
  position: absolute;
  top: 5%;
  left: 20%;
  display: grid;
  grid-template:
    "TITLE"
    "CONTENT";
  padding-bottom: 50px;
}

#title {
  grid-area: TITLE;
}

#content {
  grid-area: CONTENT;
  overflow: scroll;
}

/* Normal devices */
.content {
  grid-area: DTT;
  font-size: 1.7vw;
}

.header {
  font-size: 1.9vw;
}

/* Mobile devices */
@media (max-width: 600px) {
  .content {
    font-size: 18px; /* Adjust the minimum font size for mobile devices */
  }

  .header {
    font-size: 20px; /* Adjust the minimum font size for mobile devices */
  }

  footer {
    visibility: hidden;
  }
}

/* Mid-sized devices */
@media (min-width: 601px) and (max-width: 1024px) {
  .content {
    font-size: 22px; /* Adjust the font size for mid-sized devices */
  }

  .header {
    font-size: 24px; /* Adjust the font size for mid-sized devices */
  }
}

.neon {
  grid-area: SYNTH;
  font-family: "Monoton", cursive;
  font-size: 5vw;
  color: #ffd5ff;
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #ffd5ff, 2px 0px 4px #ffd5ff, 3px 0px 4px #ffd5ff,
    2px 0px 3px #d42cca, 2px 3px 15px #d42cca, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #d42cca, 40px 0vw 200px #d42cca;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    //text-shadow: none;
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.numanuma {
  grid-area: NEON;
  z-index: -1;
  font-family: "Mr Dafoe";
  font-size: 12vw;
  font-weight: 100;
  color: #aa00f0;
  filter: drop-shadow(0 0 22px #ffffff);
  line-height: 1;
  transform: rotateZ(-10deg) translate(-200%, -50%);
  transform-origin: center center;
  opacity: 80%;
}

.datetime {
  grid-area: DTT;
  font-size: 2vw;
  font-family: "Audiowide";
}

.infobubble {
  grid-area: INF;
  font-size: 2vw;
  font-family: "Audiowide";
  font-weight: 50;
  filter: drop-shadow(0 0 22px #ff00aa);
  opacity: 80%;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Width dependent table font size */
@media (max-width: 600px) {
  table {
    font-size: 18px; /* Adjust the font size for mobile devices */
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  table {
    font-size: 22px; /* Adjust the font size for mid-sized devices */
    width: 80%;
  }
}

.csscolumn {
  -webkit-column-count: 3;  /* Chrome, Safari, Opera */
  -moz-column-count: 3;     /* Firefox */
  column-count: 3;
}

/* styling for this demo */
.csscolumn {
  width: 50%;
}

.csscolumn + .csscolumn {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid;
}

.flexyfill {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  background: #ffffffab;

}

.flexyfill > a {
  padding: 5px;
  text-align: center;
}

.filling {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.filling a {
  width: 25%;
  min-width: 200px;
}

.filling > a > img {
  max-width: 95%;
  min-width: 110px;
  max-height: 300px;
  height: auto;
  object-fit: scale-down;
  transform: translate(-50%,-50%);
  position: relative;
  top: 50%;
  bottom: 50%;
  left: 50%;
}
